<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Testimonials</h2>
                    <h3 class="section-subheading text-muted">What our clients say about us</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dan.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dan Graham</h4>
                                    <h4 class="subheading">President of Harmony Music Libraries Inc., Founder of <a href="http://www.libraryofthehumansoul.com/" target="_blank">The Library Of The Human Soul</a>, CEO of <a href="http://www.gothic-storm.com/Music.html" target="_blank">Gothic Storm</h4></a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I found First One Apps to be very honest and well-organised, and managed to implement all requirements with no fuss and quite quickly. Any project changes were dealt with professionally with very fair and mutually-agreed fee changes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bryan.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bryan Costanza</h4>
                                    <h4 class="subheading"><a href="http://www.bryancostanza.com" target="_blank">bryancostanza.com</a>, author of <a href="http://somuchscience.com/" target="_blank">So Much Science</a> and creator of <a href="http://awesometimer.co" target="_blank">Awesome Timer</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">First One Apps had the first version of the project done before I woke up! Over the next day he worked quickly on fixing small issues that came up as we worked through the implementation. It was very easy to communicate with them by email and Skype through the whole project. I could not have hoped for anything better than the service that First One Apps provided and I fully expect to work with him on all my future iOS projects.</p>
                                    <p>[…]</p>
                                    <p class="text-muted">This is my second time working with First One Apps and they has done great work again. I especially appreciated their recommendations on better ways to arrange the UI and I think it improved my app a lot. We moved the dates a little bit but it was a bigger project and I was not in a hurry so I didn't mind at all. […]</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>